<h3>评论</h3>
<div id="comments">
</div>
<script>
    const gitment = new Gitment({
        owner: 'CPPAlien',
        repo: 'Gitment',
        oauth: {
            client_id: '3796c932b6130b5f8a5e',
            client_secret: '708e5b019d02a6a6e425189044ae945ed45815bb',
        },
    })

    gitment.render('comments')
</script>